:root {
    --clr-primary: hsl(180, 29%, 50%);
    --clr-background: hsl(180, 52%, 96%);
    --clr-filter: hsl(180, 31%, 95%);
    --clr-dark: hsl(180, 8%, 52%);
    --clr-darker: hsl(180, 14%, 20%);

    --ff-primary: "Roboto", sans-serif;
    --ff-accent: "Spartan", serif;
}

/* Initialization */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}



img {
  max-width: 100%;
  display: block;
}

/* Typography */

body {
  font-family: var(--ff-primary);
  font-size: 15px;
  line-height: 1.6;
}

h1, h2, .info li {
  font-family: var(--ff-accent);
}

h2 {
  font-weight: 700;
}

/* Basic styling */
body {
  background-color: var(--clr-background);
}

header {
  background-color: var(--clr-primary);
}

header img {
  width: 100%;
}

main {
  margin: 2em auto;
  width: min(90%, 80em);
}

/* Cards */

.card {
  background-color: #fff;
  padding: 2em 0;
  margin-bottom: 2em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
