:root {
  --clr-primary: hsl(180, 29%, 50%);
  --clr-background: hsl(180, 52%, 96%);
  --clr-filter: hsl(180, 31%, 95%);
  --clr-dark: hsl(180, 8%, 52%);
  --clr-darker: hsl(180, 14%, 20%);

  --ff-primary: "Roboto", sans-serif;
  --ff-accent: "Spartan", serif;
}

/* Initialization */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

/* Typography */

body {
  font-family: var(--ff-primary);
  font-size: 15px;
  line-height: 1.6;
}

h1,
h2,
.info li {
  font-family: var(--ff-accent);
}

h2 {
  font-weight: 700;
}

/* Basic styling */
body {
  background-color: var(--clr-background);
}

header {
  background-color: var(--clr-primary);
}

header img {
  width: 100%;
}

main {
  margin: 4em auto;
  width: min(90%, 80em);
}

/* =====
   Cards
   ===== */

.card {
  background-color: #fff;
  padding: 2em 2em;
  margin-bottom: 3.5em;
  border-radius: 3%;
  position: relative;
}

/* Card image */
.card img {
  position: absolute;
  top: -2em;
  height: 4em;
}


.card h1 {
  color: var(--clr-primary);
  margin-right: 1.2em;
  display: inline-block;
  font-weight: 600;
}

.featured {
  background: linear-gradient(
    to right,
    var(--clr-primary),
    var(--clr-primary) 0.4em,
    #fff 0.4em,
    #fff
  );
}

/* Card labels */
.label {
  color: #fff;
  border-radius: 25px;
  padding: 0.4em 0.6em 0.3em;
  margin-right: .3em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
}

.new {
  background-color: var(--clr-primary);
}

.featured-label {
  background-color: var(--clr-darker);
}

/* Card role */
.card h2 {
  margin-top: .7em;
  font-size: 17px;
}

/* Role info */
.card li {
  color: var(--clr-dark);
  float: left;
  margin-right: 1.3em;
}

.card :first-child {
  list-style-type: none;
}

/* .card li:after {
  content: " •";
  font-size: 25px;
}

.card li:last-child:after {
  content: "";
} */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
